html {
    box-sizing: border-box;
}

header {
    position: relative;
    padding: 1rem;
}

body {
    background-color: #b7d5cbc5;
}

h1, h2{
    font-family: "Abril Fatface"; font-size: 34px; font-weight: bold;
    color: #3c859b;
}

h3, p {
    font-family: "Arial"; font-size: 18px;
    color: #073763;
}